@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", serif;
}

.nav-container,
.header-div {
  background-color: #ffc017;
  border-bottom: 1px solid black;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #ffc017;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 70%;
  margin: auto;
}

ul li {
  display: inline-block;
  padding-inline: 0.5rem;
}

.getStarted {
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 5px 20px;
}

.header-div {
  position: relative; /* diamo riferimento alla posizione Absolute */
  overflow: hidden; /* nasconde la parte in eccesso del contenitore*/
}

header {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  width: 70%;
  margin: auto;
  background-color: #ffc017;
}

header img {
  position: absolute; /* diciamo alla immagine di spostarsi dove vogliamo noi */
  right: 0;
  top: -10px;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 5rem;
  padding-bottom: 1.5rem;
}

header p {
  font-family: "Roboto", serif;
  padding-bottom: 2rem;
}

.starTreading {
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 5px 40px;
}

.trending {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  padding-left: 0.5rem;
}

section {
  padding-top: 25px;
  width: 70%;
  margin: auto;
}

.sectionDiv,
.list {
  border-bottom: 1px solid rgb(212, 208, 208);
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 33.333%;
  padding-block: 1rem;
}

.number {
  padding-right: 1rem;
  opacity: 0.1;
  font-size: 2.5rem;
  font-weight: bold;
}

.authorIcon {
  display: flex;
  align-items: center;
}

.author {
  font-weight: bold;
  color: gray;
}

.foot {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.icon {
  width: 25px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.container1 .author,
.cointainer1 .icon {
  display: inline-block;
  vertical-align: middle;
}

.container1 > p:last-of-type {
  font-weight: bold;
  padding-block: 1rem;
}

article {
  display: flex;
  width: 70%;
  margin: auto;
  padding-top: 3rem;
}

.div1 {
  display: flex;
  flex-direction: column;
}

.div2 {
  display: flex;
}

.authorImg {
  width: 27px;
  border-radius: 50%;
}

.artAuthor {
  font-size: 11px;
  padding-left: 0.9rem;
  font-weight: bold;
}

.artCard {
  width: 85%;
}

.sideImage img {
  max-height: 15vh;
}

.artFoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artFootImg {
  width: 35px;
}

.artFoot p {
  font-size: 10px;
}

.highLight {
  background-color: rgba(188, 187, 187, 0.564);
  padding: 5px 10px;
  border-radius: 20px;
}

.card1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.artIcon {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.artContent1 h3 {
  font-weight: bold;
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}

.artContent1 p {
  color: gray;
  padding-bottom: 0.5rem;
}

.artContent1 p:first-of-type {
  font-size: 12px;
}

.discoverContainer {
  width: 50%;
}

.discover h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.list li {
  display: inline-block;
  border: 1px solid rgb(202, 198, 198);
  color: rgb(105, 104, 104);
  font-size: 10px;
  padding: 5px 8px;
  margin-bottom: 0.5rem;
}

.list div:last-of-type {
  margin-bottom: 1.5rem;
}

footer {
  padding-top: 1.5rem;
}

footer ul li a {
  text-decoration: none;
  font-size: 13px;
  color: rgb(105, 104, 104);
  line-height: 30px;
}

@media screen and (max-width: 480px) {
  .navBar li:nth-child(-n + 3),
  .mmm {
    display: none;
  }

  .navBar,
  header,
  section,
  article {
    width: 83%;
  }

  .navBar,
  li,
  button {
    font-size: 11px;
  }

  h1 {
    font-size: 3rem;
  }

  .header p {
    font-size: 0.7rem;
  }

  .card {
    margin-left: 0;
    max-width: 100%;
  }

  .flex-box {
    justify-content: flex-start;
  }

  .article {
    flex-direction: column;
  }

  .div1 {
    order: 1;
  }

  .list {
    justify-content: space-between;
  }

  .discoverContainer {
    order: 0;
  }
}
